.home-parent {
  height: 100vh;
}

.parts {
  height: 100%;
}
.part1 {
  height: 100%;
  width: 50%;
  background: linear-gradient(90deg, #180a0a, #9adcff);
}

.part2 {
  height: 100%;
  width: 50%;
  background: linear-gradient(90deg, #180a0a, #9adcff);
}
